body {
  font-family: "Source Sans Pro";
  font-size: 170%;
  padding-top: 50px;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 300;
}

h1 {
  font-weight: 200;
  text-transform: uppercase;
}

.sl-nav {
  font-weight: 400;
}

.sl-jumbo {
  padding-top: 300px;
  padding-bottom: 0;

  background-image: url("/img/bg.jpg");
  background-position: center center;
}

.sl-jumbo > .container {
  background-color: rgba(255, 255, 255, 1.0);
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
